#map{
/*  background-image: url("../imgs/mapstory.png");*/
  width: 100%;
  height: auto;
  padding: 1% 0% 1% 0%;
}
#map img {
  width:100%;
  max-width: 850px;
  height: auto;
  display: block;
  margin: auto;
}

#beach{
  height:40%;
  background-attachment: initial;
  z-index: 0;
  margin: auto;
}

.trio {
  position: relative;
  float:left;
/*  display: block;*/
  height:100%;
  width:32%;
  margin:auto;
}


.trio img {
  border-radius: 50%;
  display: block;
  margin:auto;
}

.trio figcaption{
  text-align: center;
}